* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(0, 0, 0);

}



.container {

    max-width: 1400px;
    padding: 1%;
    margin: 1mm;


}

nav {

    display: flex;
    align-items: center;
    gap: 10%;
    justify-content: space-between;

}

nav .name {

    font-size: 60px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;


}

.steve {

    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

nav ul {

    list-style: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


}

nav ul li {

    display: inline-block;

}

nav ul li a {

    padding: 10px 20px;
    text-decoration: none;
    font-size: 19;
    color: rgb(255, 255, 255);
    border-radius: 30px;
    transition: 0.5s;

}


nav ul li a:hover {

    background-color: rgb(2, 73, 2);

}





.button {

    width: 120px;
    height: 40px;
    font-size: 20px;
    font-style: oblique;
    font-weight: bold;
    border-radius: 10cm;
    border-width: 1mm;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);

}







.logo {

    height: 40px;
    width: auto;

}


.Pic {

    height: 750px;
    width: auto;

}





.Picfoot {

    width: auto;
    height: 26px;

}


.Apple {

    font-size: 0.6cm;
    color: rgb(255, 255, 255);
    font-style: italic;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}